<!DOCTYPE html>
<html lang="ko">
    <head>
    <title> {{ post.title }} – Blog </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h1>{{ post.title }}</h1>   
        <h4> {{ post.dt_created }} </h4> 
        {% if user.is_authenticated and user == post.author %}
            <a href="/posts/update_post/{{post.pk}}/">
                Edit Post
            </a>
        {% endif %}
        <p> {{ post.content }} </p>
    
        <hr/>
    
        <h3> 여기에 댓글 추가 </h3>
    </body>
</html>
</html>
